.mainpage {
  @media only screen and (max-width: $tablet) {
    .live-activities {
      .event {
        .middle {
          width: 60%;
        }
        .attendees {
          width: 20%;
          .num {
            font-size: 11px;
          }
          .attendee {
            font-size: 11px;
          }
        }
      }
    }
    .networking {
      .chart {
        display: block;
        width: 100%;
      }
      .numbers {
        width: 100%;
        height: 100%;
        display: block;
        .item {
          display: inline-block;
          padding: inherit;
          width: 100px;
          padding: 0px 10px 50px 10px !important;
        }
      }
    }
  }
}
