@import '../scss/variables.scss';
.default {
  &.snackbar {
    box-shadow: 0 3px 6px #00000029;
    background-color: white;
    padding: 15px 23px;
    border-radius: 10px;
    display: inline-block;
    width: 32%;
    border-left: 11px solid transparent;
    margin: 20px 20px;
    &:first-of-type,
    &:last-of-type {
      margin: 20px 5px;
    }
    &.darkmagenta {
      border-left-color: $darkmagenta;
      .main {
        color: $darkmagenta;
      }
    }
    &.lightseagreen {
      border-left-color: $lightseagreen;
      .main {
        color: $lightseagreen;
      }
    }
    .info {
      display: inline-block;
      padding-right: 10px;
      .main {
        font: Bold 28px/34px Montserrat;
      }
      .subtitle {
        font-size: 12px;
      }
    }
    @media only screen and (max-width: $laptop) {
      width: 70%;
      margin: 10px;
    }
  }
}
