@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap&family=Montserrat&family=Material+Icons');
@import './components/scss/variables';
@import './components/scss/default.scss';

body {
  background-color: #f6f6fa;
}
#root {
  font-family: 'Lato', sans-serif;
  color: $fontDefault;
  margin: 20px;
  font-weight: bold;
}
.col {
  display: inline-block;
  vertical-align: top;
}
.col-half {
  width: 50%;
}

@import './views/Main/mainpage.scss';
